*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

:root {
    --default-color: #2e3440;
    --primary-color: #4c566a;
    --secondary-color: #a3be8c;

    font: 10px Roboto, sans-serif;
}

body {
    background-color: var(--default-color);
    height: 100vh;
}